<h1>Editing solicitation_type</h1>

<% form_for(@solicitation_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :s_type %><br />
    <%= f.text_field :s_type %>
  </p>
  <p>
    <%= f.label :s_value %><br />
    <%= f.text_field :s_value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @solicitation_type %> |
<%= link_to 'Back', solicitation_types_path %>
