
<div id="wrapper">
	<div id="content_wrapper">
				<a name="skip_menu"></a>
	<div id="branding">
	<h1>Business.gov - The Official Business Link to the U.S. Government</h1>
	<a href="/index.html" id="bgov_logo"><%= image_tag 'bgov_logo.gif' %></a>
	</div>
	
	<div class="textcontainer">
		
<% form_tag("/solicitation/search", :method => "post", :id => "procurement_search", :class => "group") do %> 
<div id="procurement_search_col1"> 
<h3>Search for Procurments</h3>	
	
		<p>
		<%= label_tag(:pop_state, "Performance State:") %>
		<%= select_tag('pop_state', "<option value="" >All POP States</option>"+options_from_collection_for_select(@states, 'alpha', 'name', @pop_state) ) %>
		</p>
		<p>
		<%= label_tag(:sol_type, "Solicitation Type:") %>	
		<%= select_tag('sol_type', "<option value="" >All Solicitation Types</option>"+options_from_collection_for_select(@sol_types, 's_value', 's_type', @sol_type) ) %>
		</p>
		<p>
		<%= label_tag(:setaside, "Setaside Type:") %>	
		<%= select_tag('setaside', "<option value="" >All Setaside Types</option>"+options_from_collection_for_select(@setasides, 's_value', 's_type', @setaside) ) %>
		</p>	
	</div> <!-- procurement_search_col1 -->
	<div id="procurement_search_col2">
		<p>
		<%= label_tag(:recovery_ind, "Only Recovery:") %>	
		<%= check_box_tag('only_recovery', 'only_recovery', @only_recovery_flag) %>
		</p>
		<p>
		<%= label_tag(:keywords, "Keywords:") %>	
		<%= text_field_tag(:keywords, @keywords) %>	
		<%= submit_tag("Search") %>
		</p>
		
	</div> <!-- procurement_search_col2 -->
	
<% end %> 

<h1>Search Result</h1>
<p><%= page_entries_info @opportunities, :entry_name => 'opportunities' %></p>

<!--%= will_paginate @opportunities % -->
<table  cellspacing="2" cellpadding="2" id="procurement_results"  >
  <tr>
  	<th >Opportunity</th>
	<th ><%= sort_link 'Agency/Company', :agency %></th>
    <th ><%= sort_link 'Solicitation Types', :sol_type %></th>
    <th ><%= sort_link 'Posted On', :sol_date %></th>
	<th ><%= sort_link 'Response Date', :resp_date %></th>
  </tr>

<% for opportunity in @opportunities %>
  <tr>
  	
  	<td><%= link_to opportunity.subject, opportunity %>&nbsp; <%=h opportunity.sol_nbr %></td>
	<td><%=h opportunity.agency %></td>
    <td><%=h @sol_types_hash[opportunity.sol_type] %></td>
    <td><%=h opportunity.sol_date_formatted %></td>
    <td><%=h opportunity.resp_date_formatted %></td>
	
  </tr>
<% end %>
</table>

<br/>
<%= will_paginate @opportunities %>

	</div> <!-- textcontainer -->
</div> <!-- content_wrapper -->
