
<% form_tag("/solicitation/search", :method => "post") do %>  
	<table border=1>
		<tr>
			<td><%= label_tag(:pop_state, "Performance State:") %></td>  
			<td><%= select_tag('pop_state', "<option value="" >All POP States</option>"+options_from_collection_for_select(@states, 'alpha', 'name', @pop_state) ) %></td>
		</tr>
		<tr>
			<td><%= label_tag(:sol_type, "Solicitation Type:") %></td>  
			<td><%= select_tag('sol_type', "<option value="" >All Solicitation Types</option>"+options_from_collection_for_select(@sol_types, 's_value', 's_type', @sol_type) ) %></td> 
			  
		</tr>
		<tr>
			<td><%= label_tag(:setaside, "Setaside Type:") %></td>  
			<td><%= select_tag('setaside', "<option value="" >All Setaside Types</option>"+options_from_collection_for_select(@setasides, 's_value', 's_type', @setaside) ) %></td> 
 		</tr>
		<tr>
			<td><%= label_tag(:recovery_ind, "Only Recovery:") %></td>  
			<td><%= check_box_tag('only_recovery', 'only_recovery', @only_recovery_flag) %></td>  
		</tr>
		<tr>
			<td><%= label_tag(:keywords, "Keywords:") %></td>  
			<td><%= text_field_tag(:keywords, @keywords) %></td>  
		</tr>
		<tr>
			<td colspan=2><%= submit_tag("Search") %></td>
		</tr>
	 
	</table>

<% end %> 

<h1>Search Result</h1>
<%= page_entries_info @opportunities, :entry_name => 'opportunities' %>

<%= will_paginate @opportunities %>
<table border=1 width="80%" align="center" cellspacing="2" cellpadding="2">
  <tr>
  	<th width='40%'>Opportunity</th>
	<th width='20%'><%= sort_link 'Agency/Company', :agency %></th>
    <th width='15%'><%= sort_link 'Solicitation Types', :sol_type %></th>
    <th width='10%'><%= sort_link 'Posted On', :sol_date %></th>
	<th width='15%'><%= sort_link 'Response Date', :resp_date %></th>
  </tr>

<% for opportunity in @opportunities %>
  <tr>
  	
  	<td><%= link_to opportunity.subject, opportunity %>&nbsp; <%=h opportunity.sol_nbr %></td>
	<td><%=h opportunity.agency %></td>
    <td><%=h @sol_types_hash[opportunity.sol_type] %></td>
    <td><%=h opportunity.sol_date_formatted %></td>
    <td><%=h opportunity.resp_date_formatted %></td>
	
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @opportunities %>

