<p><b> Solicitation Details</b> </p>
<table width="100%" border="1" cellspacing="0" cellpadding="2">
	 <tr>
        <td><b>Title:</b></td>
        <td colspan=3> <%=h @opportunity.subject %></td>
    </tr>
	 <tr>
	 	<% 
			primeSolNbrBlock = ""
			if !@opportunity.prime_sol_nbr.nil? && @opportunity.prime_sol_nbr!=""
				primeSolNbrBlock = "<br>Prime:"+@opportunity.prime_sol_nbr
			end
	 	%>
        <td width="15%"><b>Solicitation Number:</b></td>
        <td width="35%"><%=h @opportunity.sol_nbr %><%=h primeSolNbrBlock %></td>
        <td width="15%"><b>Classification Code:</b></td>
        <td width="35%"> <%=h @opportunity.classcode %></td>
    </tr>
    <tr>
        <td><b>Solicitation Type:</b></td>
        <td><%=h @opportunity.sol_type %></td>
        <td><b>Solicitation Date:</b></td>
        <td> <%=h @opportunity.sol_date %></td>
    </tr>
	<tr>
        <td><b>Response Date:</b></td>
        <td><%=h @opportunity.resp_date %></td>
        <td><b>Archive Date:</b></td>
        <td> <%=h @opportunity.archive_date %></td>
    </tr>
    <tr>
       <td><b>Agency:</b></td>
        <td> <%=h @opportunity.agency %></td>
        <td><b>Agency Office:</b></td>
        <td> <%=h @opportunity.agency_office %></td>
    </tr>
    <tr>
        <td><b>Agency Office Address:</b></td>
        <td colspan=3> <%=h @opportunity.agency_office_address %></td>
    </tr>
    <tr>
        <td><b>Agency Location:</b></td>
        <td> <%=h @opportunity.agency_location %></td>
        <td><b>Agency Zip:</b></td>
        <td> <%=h @opportunity.agency_zip %></td>
    </tr>
	
	<tr>
        <td><b>Description:</b></td>
        <td colspan=3> <%=h @opportunity.sol_desc %></td>
    </tr>
	 <tr>
       <td><b>NAICS Code:</b></td>
        <td> <%=h @opportunity.naics %></td>
		 <td><b>Setaside:</b></td>
        <td> <%=h @opportunity.setaside %></td>
    </tr>
	<tr>
        <td><b>Contact:</b></td>
        <td> <%=h @opportunity.contact %></td>
        <td><b>Contact Email:</b></td>
        <td> <%=h @opportunity.contact_email %></td>
    </tr>
	<tr>
        <td><b>Link:</b></td>
        <td> <%=h @opportunity.link_url %></td>
        <td><b>Recovery Indicator:</b></td>
        <td> <%=h @opportunity.recovery_ind %></td>
    </tr>
	<tr>
        <td><b>Place of Performance:</b></td>
        <td colspan=3> 
			<%=h @opportunity.pop_address %><br>
			<%=h @opportunity.pop_state %>,<%=h @opportunity.pop_zip %><br>
			<%=h @opportunity.pop_country %>
		</td>
    </tr>
</table>



<%= link_to 'Back To Search', '/solicitation/search/' %>
