
<div id="wrapper">
<div id="content_wrapper"><a name="skip_menu"></a>
<div id="branding">
<h1>Business.gov - The Official Business Link to the U.S. Government</h1>
<a href="UrlBlockedError.aspx" id="bgov_logo" target="_blank"><%= image_tag 'bgov_logo.gif' %></a>
</div>
<div class="textcontainer">
	
<h1>Solicitation Details</h1>
<div id="solicitation_div">
<div id="solicitation_div_col1">
<p><strong>Title:</strong> <%=h @opportunity.subject %></p>
        <% 
			primeSolNbrBlock = ""
			if !@opportunity.prime_sol_nbr.nil? && @opportunity.prime_sol_nbr!=""
				primeSolNbrBlock = "\nPrime:"+@opportunity.prime_sol_nbr
			end
	 	%>
<p><strong>Solicitation Number:</strong> <%=h @opportunity.sol_nbr %><%=h primeSolNbrBlock %> </p>
<p><strong>Classification Code:</strong> <%=h @opportunity.classcode %></p>
<p><strong>Solicitation Type:</strong> <%=h @sol_types_hash[@opportunity.sol_type] %></p>
<p><strong>Solicitation Date:</strong> <%=h @opportunity.sol_date_formatted %></p>
<p><strong>Response Date:</strong> <%=h @opportunity.resp_date_formatted %></p>
<p><strong>Archive Date:</strong> <%=h @opportunity.archive_date %></p>
</div>
<div id="solicitation_div_col2">
<p><strong>Agency:</strong> <%=h @opportunity.agency %></p>
<p><strong>Agency Office:</strong> <%=h @opportunity.agency_office %></p>
<p><strong>Agency Office Address:</strong> <%=h @opportunity.agency_office_address %></p>
<p><strong>Agency Location:</strong> <%=h @opportunity.agency_location %></p>
<p><strong>Agency Zip:</strong><%=h @opportunity.agency_zip %></p>
</div>
<p id="solicitation_description"><strong>Description:</strong> <%=h @opportunity.sol_desc %></p>
<p><strong>NAICS Code:</strong> <%=h @opportunity.naics %></p>
<p><strong>Setaside:</strong> <%=h @opportunity.setaside %></p>
<p><strong>Contact:</strong> <%=h @opportunity.contact %></p>
<p><strong>Contact Email:</strong> <%=h @opportunity.contact_email %></p>
<p><strong>Link:</strong><%=h @opportunity.link_url %></p>
<p><strong>Recovery Indicator:</strong> <%=h @opportunity.recovery_ind %></p>
<p><strong>Place of Performance:</strong> <%=h @opportunity.pop_address %><br>
			<%=h @opportunity.pop_state %>,<%=h @opportunity.pop_zip %><br>
			<%=h @opportunity.pop_country %></p>
<p><%= link_to 'Back To Search', '/solicitation/search/' %></p>
</div>
</div>
</div>
