<h1>Editing setaside</h1>

<% form_for(@setaside) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :s_type %><br />
    <%= f.text_field :s_type %>
  </p>
  <p>
    <%= f.label :s_value %><br />
    <%= f.text_field :s_value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @setaside %> |
<%= link_to 'Back', setasides_path %>
