<h1>New parsed_file</h1>

<% form_for(@parsed_file) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', parsed_files_path %>
